.page {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	min-height: 100dvh;
}

.tabItem {
	border-radius: 0.5rem 0.5rem 0 0;
}

.arts {
	background: #f75154;
}

.entertainment {
	background: #efa926;
}

.food {
	background: #ffd954;
}

.games {
	background: #1da262;
}

.outdoor {
	background: #2d80d7;
}

.social {
	background: #c099f1;
}

.sports {
	background: #ec79a1;
}

.all {
	background: #222;
}

.tabItem.all {
	color: #fff;
}

.textButton {
	color: #000;
	background: none;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
}

.textButton:hover {
	background: none;
	border: none;
	color: #000;
	background: #f0f0f0;
	border-radius: 6px;
}

.cardTitle {
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.modalContainer {
	background: rgba(125, 125, 125, 0.6);
	width: 100dvw;
	height: 100dvh;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}

.modal {
	max-width: 500px;
	padding: 24px;
	background: white;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modalTitle {
	width: 100%;
	border-bottom: 1px solid #ccc;
}
