@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
	min-height: 100dvh;
	@apply flex flex-col;
}

.page {
	@apply flex flex-col items-start flex-1;
}

.tabItem {
	border-radius: 0.75rem 0.75rem 0 0;
}

.arts {
	background: #ef4349;
}

.entertainment {
	background: #f19020;
}

.food {
	background: #ffcb4c;
}

.games {
	background: #6caa4b;
}

.party {
	background: #55a1d8;
}

.social {
	background: #bf6bde;
}

.sports {
	background: #fb85c5;
}

.all {
	background: #222;
}

.tabItem.all {
	@apply text-white;
}

.textButton {
	color: #000;
	background: none;
	font-size: 1rem;
	padding: 0.25rem 0.5rem;
	cursor: pointer;
}

.textButton:hover {
	background: none;
	border: none;
	color: #000;
	background: #f0f0f0;
	border-radius: 6px;
}

.cardTitle {
	padding-bottom: 8px;
	border-bottom: 1px solid #ccc;
	width: 100%;
}

.modalContainer {
	background: rgba(125, 125, 125, 0.6);
	width: 100dvw;
	height: 100dvh;

	display: flex;
	align-items: center;
	justify-content: center;

	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
}

.modal {
	max-width: 500px;
	padding: 24px;
	background: white;
	border-radius: 16px;

	display: flex;
	flex-direction: column;
	gap: 8px;

	box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
		rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.modalTitle {
	width: 100%;
}

.navItem {
	@apply textButton font-medium transition-all;
}

.primaryBtn {
	@apply bg-gray-900 text-white rounded-lg py-1 px-2 font-medium hover:bg-gray-700 flex items-center transition-all;
}

.tagItem {
	@apply px-2 py-1 bg-gray-100 hover:bg-gray-300 capitalize rounded-full m-0.5 text-xs;
}

.tagClear {
	@apply p-2 font-medium text-black text-sm hover:underline;
}

.iconBtn {
	@apply hover:bg-zinc-200 rounded-full p-2;
}

.field {
	@apply border-zinc-200 border-solid border px-2 py-1 rounded-sm min-w-80;
}

.fieldGroup {
	@apply flex flex-col;
}

.fieldGroup label {
	@apply text-sm pb-1;
}
