@font-face {
	font-family: 'PP Mori';
	src: url('PPMori-Regular.woff2') format('woff2'),
		url('PPMori-Regular.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Fraktion Mono';
	src: url('PPFraktionMono-Regular.woff2') format('woff2'),
		url('PPFraktionMono-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #213547;
	font-family: 'PP Mori', sans-serif;
}

.monospace {
	font-family: 'PP Fraktion Mono', monospace;
	text-transform: uppercase;
}
