@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('PPNeueMontreal-Medium.woff2') format('woff2'),
		url('PPNeueMontreal-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'PP Neue Montreal';
	src: url('PPNeueMontreal-Regular.woff2') format('woff2'),
		url('PPNeueMontreal-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

* {
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
}

body {
	margin: 0;
	color: #213547;
	font-family: 'PP Neue Montreal', sans-serif;
	background: #f0f0f0;
}
